* {
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
  font-size: 16px;
  outline: none;
}

a,
a:visited {
  color: var(--blue);
  text-decoration: none;
}

body {
  background: var(--white);
  color: var(--black);
  margin: 0;
  padding-bottom: 40px;
}

button {
  background: var(--black);
  border: 2px solid var(--black);
  border-radius: 4px;
  color: var(--white);
  padding: 6px 8px;
}

button + button,
button + span,
input + span,
span + button,
span + input {
  margin-left: 4px;
}

button:active {
  background: var(--white);
  color: var(--black);
}

.card {
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 8px;
  display: inline-block;
  height: 160px;
  position: relative;
  text-align: center;
  user-select: none;
  width: 112px;
}

.card + .card {
  margin-left: 16px;
}

.card--revealable {
  cursor: pointer;
  transition: transform 0.3s;
}

.card--revealable:hover {
  transform: translateY(-8px);
}

.card__background {
  background: var(--accentLight);
  border-radius: 6px;
  bottom: 6px;
  left: 6px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.card__icon {
  background: url("/images/revealable.min.svg");
  background-size: cover;
  left: 50%;
  margin: -12px 0 0 -12px;
  height: 24px;
  position: absolute;
  top: 50%;
  width: 24px;
}

.card__figure--1 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.card__figure--1 span {
  font-size: 40px;
}

.card__figure--n {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 24px;
}

.card__figure--n span {
  font-size: 24px;
  width: 33%;
}

.card__index {
  left: 4px;
  position: absolute;
  top: 4px;
  width: 20px;
}

.card__index--bottom {
  bottom: 4px;
  left: auto;
  right: 4px;
  top: auto;
  transform: rotate(180deg);
}

.card__index span {
  font-size: 16px;
}

.cards {
  display: flex;
  margin-bottom: 16px;
}

#content {
  margin: auto;
  max-width: 80%;
}

h1 {
  font-size: 32px;
  margin-top: 40px;
}

input {
  border: 2px solid var(--black);
  border-radius: 4px;
  padding: 6px 8px;
  width: 80px;
}

#progress {
  background: var(--white);
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

#progress__indicator {
  animation: spin 1s ease-in-out infinite;
  border: 2px solid var(--black);
  border-radius: 50%;
  border-top-color: transparent;
  height: 64px;
  left: 50%;
  margin: -32px;
  position: absolute;
  top: 50%;
  width: 64px;
}

#progress__text {
  height: 96px;
  left: 0;
  margin-top: 64px;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
}

:root {
  --black: #000;
  --blue: #44b;
  --gray: #888;
  --green: #282;
  --greenish: #8a8;
  --red: #c44;
  --white: #fff;
}

.status {
  align-items: center;
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.status button {
  background: var(--green);
  border: none;
  color: var(--white);
  padding: 8px 10px;
}

.status button:active {
  background: var(--white);
  color: var(--black);
}

.suit--blue {
  color: var(--blue);
}

.suit--green {
  color: var(--green);
}

.suit--red {
  color: var(--red);
}

ul {
  list-style-position: inside;
  padding: 0;
}

ul li {
  margin: 4px 0;
}

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/oxanium.woff2") format("woff2");
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
