button, input {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 4px;
  padding: 6px 8px;
}

.busy {
  background-color: red;
  color: white;
}

.idle {
  background-color: green;
  color: white;
}

span {
  border-radius: 4px;
  padding: 6px 8px;
}
